CLIENT_NAME=client-a #this is the client name
CLIENT_ORG=client-a-org #clients org name
INFLUX_BUCKET=telegraf #influx bucket
INFLUX_TOKEN=supersecrettoken #generate new token for each client
GRAFANA_PASSWORD=admin123
